.berlangganan-rUq {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.berlangganan-rUq .langganan-b53 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #ffd95e;
}
.berlangganan-rUq .langganan-b53 .group-27-urR {
  box-sizing: border-box;
  padding-top: 0.9833rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.berlangganan-rUq .langganan-b53 .group-27-urR .auto-group-bh9s-rWm {
  margin: 0rem 1.266rem 3.885rem 0rem;
  width: calc(100% - 1.2658rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 25rem;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd {
  margin: 2.986rem 23.397rem 0rem 0rem;
  box-sizing: border-box;
  padding: 4.942rem 10.362rem 8.09rem 10.609rem;
  width: 81.7701rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 6rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .group-28-rQH {
  margin: 0rem 4.239rem 4.425rem 4.76rem;
  width: calc(100% - 8.999rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .group-28-rQH
  .selamat-datang-di-e-library-n33 {
  margin-bottom: 0.8221rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .group-28-rQH
  .selamat-datang-di-e-library-n33
  .selamat-datang-di-e-library-n33-sub-0 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .group-28-rQH
  .selamat-datang-di-e-library-n33
  .selamat-datang-di-e-library-n33-sub-1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffd95e;
  font-family: Poppins, "Source Sans Pro";
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .group-28-rQH
  .nikmati-baca-buku-favoritmu-dimana-saja-dan-kapan-saja-KKo {
  margin: 0rem 1.881rem 0.373rem 0rem;
  max-width: 32.6rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .group-28-rQH
  .ayo-berlangganan-sekarang-zB3 {
  margin-right: 2.5083rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-tnD {
  margin-bottom: 2.6028rem;
  width: 100%;
  height: 12.3633rem;
  position: relative;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-tnD
  .bulan-39K {
  width: 8.2rem;
  height: 3.6rem;
  position: absolute;
  left: 5.9495rem;
  top: 3.5138rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-tnD
  .rp2000000-bulan-kJd {
  width: 11.3rem;
  height: 4.8rem;
  position: absolute;
  left: 38.1487rem;
  top: 3.9042rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-tnD
  .di-tagih-setiap-bulan-Ejb {
  width: 12.5rem;
  height: 1.8rem;
  position: absolute;
  left: 7.4005rem;
  top: 7.6782rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(52, 76, 42, 0.5);
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-tnD
  .rectangle-76-8KB {
  width: 60.799rem;
  height: 12.3633rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(52, 76, 42, 0.5);
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-S4y {
  margin-bottom: 4.2946rem;
  width: 100%;
  height: 12.3633rem;
  position: relative;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-S4y
  .bulan-PF7 {
  width: 9rem;
  height: 3.6rem;
  position: absolute;
  left: 5.5494rem;
  top: 3.5137rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-S4y
  .rp1900000-bulan-ditagih-dua-kali-setahun-sebesar-rp11400000-6-bulan-VZ3 {
  width: 16.4rem;
  height: 7.8rem;
  position: absolute;
  left: 36.855rem;
  top: 1.4315rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
}

.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-S4y
  .rp1900000-bulan-ditagih-dua-kali-setahun-sebesar-rp11400000-6-bulan-VZ3
  .rp1900000-bulan-ditagih-dua-kali-setahun-sebesar-rp11400000-6-bulan-VZ3-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(52, 76, 42, 0.5);
  font-family: Poppins, "Source Sans Pro";
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-S4y
  .di-tagih-setiap-6-bulan-8Ed {
  width: 13.5rem;
  height: 1.8rem;
  position: absolute;
  left: 6.9004rem;
  top: 7.6783rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(52, 76, 42, 0.5);
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-S4y
  .rectangle-76-q93 {
  width: 60.799rem;
  height: 12.3633rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(52, 76, 42, 0.5);
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-whs {
  box-sizing: border-box;
  padding: 5.726rem 8.884rem 4.954rem 5.549rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #344c2a;
  box-shadow: 0 0.4rem 0.4rem #2f551f;
  background-color: rgba(52, 76, 42, 0.200000003);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-whs
  .auto-group-cj9f-sLd {
  margin: 0rem 15.648rem 2.226rem 0rem;
  width: 14.3173rem;
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-whs
  .auto-group-cj9f-sLd
  .tahun-Cdo {
  margin-bottom: 0.5646rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-whs
  .auto-group-cj9f-sLd
  .di-tagih-setiap-tahun-j7w {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(52, 76, 42, 0.5);
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-whs
  .rp1000000-bulan-ditagih-dua-kali-setahun-sebesar-rp12000000-tahun-4R7 {
  margin-top: 0.3904rem;
  max-width: 16.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
  flex-shrink: 0;
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-whs
  .rp1000000-bulan-ditagih-dua-kali-setahun-sebesar-rp12000000-tahun-4R7
  .rp1000000-bulan-ditagih-dua-kali-setahun-sebesar-rp12000000-tahun-4R7-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344c2a;
  font-family: Poppins, "Source Sans Pro";
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .auto-group-aqkb-mtd
  .bulan-whs
  .rp1000000-bulan-ditagih-dua-kali-setahun-sebesar-rp12000000-tahun-4R7
  .rp1000000-bulan-ditagih-dua-kali-setahun-sebesar-rp12000000-tahun-4R7-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(52, 76, 42, 0.5);
  font-family: Poppins, "Source Sans Pro";
}
.berlangganan-rUq
  .langganan-b53
  .group-27-urR
  .auto-group-bh9s-rWm
  .ph-x-bold-msF {
  width: 4.838rem;
  height: 3.7594rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-4-WZw button {
  width: 50rem;
  height: 6.1rem;
  margin: 5rem 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f6f4ef;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #344c2a;
  border-radius: 5rem;
  flex-shrink: 0;
  margin-left: -17rem;
}
